.login-form {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
}

.login-form input {
  border: none;
  padding: 15px 0px;
  margin-bottom: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  transition: border-color 0.1s linear;
  font-size: larger;
}

.login-form input:focus {
  outline: none;
  border-color: var(--skyblue);
}

.login-form input:hover {
  cursor: pointer;
}

.login-form input[type="submit"] {
  border: none;
  background-color: var(--skyblue);
  border-radius: 5px;
}

.login-form a {
  text-align: center;
  text-decoration: none;
}
